body{
    font-family: Roboto, sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
}

.topbar,
.links,
.signup-info,
.header{
   display:flex;

}

.text{
    color: #E5E7Eb;
    font-size: 18px;
}


/* the header itself */
.topbar{
    margin: 0 128px 32px;
    justify-content: space-between;
    align-items: center;
}

.header{
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 8px 64px 36px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links a{
    text-decoration: none;

}

.links{
    list-style-type:none;   
    gap: 12px;
}

/* info underneath it */
.signup-info{
    align-items: center;
    justify-content: space-between;
    margin: 36px 128px 80px;
}

.signup{
    width: 500px;
}

.signup h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}

.header-image{
    width: 750px;
    height: 520px;
}

.button{
    background-color: #3882F6;
    padding: 6px 24px;
    font-size: 18px;
    color: #E5E7Eb;
    border-radius: 12px;
    border: 0 none;
}   

/* info section */
.info-body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 80px;
}

.illustrations{
    display:flex;
    justify-content: space-evenly;
    gap: 60px;  
    margin-top: 30px;
}

.info-element{
    width: 150px;
    color: #756f6f;
    font-size: 18px;
    text-align: center;
}

.info-element img{
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

#info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}